<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <div class="outerDiv">
        <h3>EmployeeDetailsEntryForm</h3>
        <div class="row">
          <div class="col-md-4">
            <label>Name:</label>
          </div>
          <div class="col-md-4">
            <input type="text" name="" class="form-control" />
          </div>
          <div class="col-md-4">
            <input type="text" name="" class="form-control" />
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Technology</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Skills:</label>
            </div>
            <div class="col-md-4">
              <select name="" id="" class="form-control">
                <option value="">select</option>

                <option value="">Angular</option>
                <option value="">React</option>
                <option value="">Javascript</option>
                <option value="">NodeJS</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>ExpertiseIn:</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>certifications if Any:</label>
            </div>
            <div class="col-md-8">
              <input type="radio" name="" id="" />yes
              <input type="radio" name="" id="" />No
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <input type="text" name="" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>company:</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>fewLinesAbout yourself:</label>
              <textarea
                name=""
                rows="3"
                cols="4"
                class="form-control"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-end">
              <button class="btn btn-secondary btn-sm mx-1">Cancel</button>
              <button class="btn btn-success btn-sm mx-1">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3>EmployeeList</h3>
      <div class="outerDiv">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <select name="" id="">
              <option value="">Angular</option>
              <option value="">ReactJS</option>
              <option value="">Javascript</option>
              <option value="">NodeJS</option>
              <option value="">Angular</option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" name="" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Name</th>
                  <th>Technology</th>
                  <th>Designation</th>
                  <th>Skills</th>
                  <th>coreExpertise</th>
                  <th>Company</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
